:root {
  --bg-primary: #181818;
  --bg-secondary: #333333;
  --bg-button: rgba(24, 24, 24, 0.7);
  --text-primary: #efefef;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  font-family: Verdana, Tahoma, sans-serif;
}

h1 {
  font-size: 20px;
  margin-bottom: 30px;
}

.container {
  width: 91%;
  max-width: 680px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  margin: 15px;
  margin-bottom: 100px;
}

a {
  text-decoration: none;
  color: var(--text-primary);
}

.tile {
  width: 100%;
  background-color: var(--bg-secondary);
  margin: 7px;
  border-radius: 17px;
  display: flex;
  justify-content: space-between;
}

.tile:hover {
  transition: cubic-bezier(0.07, 1.41, 0.82, 1.41) 0.2s;
  transform: scale(1.02);
}

.tile-share-button {
  margin: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: var(--bg-button);
}

.image-container {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.image-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center 25%;
}

.icon {
  margin: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
